:root {
    --main-color: #dd2f6e;
    --color-dark: #1d2231;
    --text-grey: #8390a2;
  }
main h1{
    /* text-align: center; */
    margin: 1rem 0;
    text-shadow: 7px 10px 15px rgba(0, 0, 0, .4); 
}
main input{
    width: 100%;
    padding: .9rem 1.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    box-shadow: 7px 10px 15px rgba(0, 0, 0, .4);
    color: var(--text-grey); 

}
.main_content main label{
    margin: 1rem;
    display: block;
    font-size: 1.5rem;
    color: var(--main-color);
}
main {
    transition: left 300ms;
    left: 345px;
    margin-top: 80px;
    padding: 2rem 1.5rem;
    background: #fff;
    height: calc(100vh - 90px);
    overflow: hidden;
  }
  button{
      margin: 0 auto;
      display: block;
      place-items: center;
      padding: 1rem 5rem;
      background: transparent;
      border-radius: 20px;
      color: var(--main-color);
      font-size: 1.5rem;
  }